* {
    scrollbar-color: #454a4d #202324;
}

html {
    margin: 5%;
    background-color: #131516;
    color: #a7a7a8;
    
}

body{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
}

#logo{
    margin-left: 3rem;
    position: absolute;
    top: 3.5rem;
    margin-top: 2rem;
    z-index: 1;
}
#logo-picture{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
}

#header{
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    margin: 2rem;
    padding: 0.75rem 0.25rem;
    border-radius: 8px;
    font-size: 20px;
    width: 60%;
    align-self: center; 
    position: absolute;
    top: 3rem;
}

.controls{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-flow: column;
    column-gap: 1rem;
    margin-top: 7rem;
    padding: 5rem;
    padding-bottom: 3rem;
    align-items: center;
}


#canvas-container{
    display: flex;
    justify-content: center;
}

#canvas-container > canvas{
    border-radius: 5px;
}

#controlBtns{
    display: flex;
    flex-flow: row;
    column-gap: 2%;
}

/* Button-64 source: https://getcssscan.com/css-buttons-examples */
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#d3edff);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 15px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

.slider {
    display: flex;
    align-items: center;
    width: 80%;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: auto;
  }
  
  .range {
    display: flex;
    width: 600px;
  }
  
  .range__slider {
    width: 45%;
  }
  
  .range__value {
    width: 35%;
    margin-left: 45px;    
    text-align: center;
    border-left: #e6e4e4 1px solid;
  }
  
  .form-group {
    display: flex;
    flex-direction: column; 
    justify-content: center;
  }
  
  .form-group label {
    text-transform: uppercase;
    font-size: .7rem;
    color: #a7a7a8;
    margin-bottom: 5px;
  }
  
  .form-group span {
    font-size: 2rem;
    font-weight: 600;
    color: #404040;
  }
  
  .range__slider label {
    margin-bottom: 10px;
  }
  
  .range__slider [type="range"] {
    width: 100%;
    -webkit-appearance: none;
    height: 13px;
    border-radius: 6px;
    background: #f1f1f1;
    outline: none;
    padding: 0;
    margin: 0;
  }
  
  /* custom thumb */
  .range__slider [type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #7a00ff;
    border: #f9ca24 5px solid;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
  }
  
  .range__slider [type="range"]::-webkit-slider-thumb:hover {
    background: #f0932b;
  }
  
  .range__slider [type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #f0932b;
    border: #f9ca24 5px solid; cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
  }
  
  .range__slider [type="range"]::-moz-range-thumb:hover {
    background: #f9ca24;
  }
  
  /* remove border */
  input::-moz-focus-inner, input::-moz-focus-outer {
    border: 0;
  }